backgrnd{
background: 100%;
}
.container{
width: 100%;
height: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(myImage.jpg);
background-size: cover;
background-position: center;
}

.navbar{
padding-left: 10px;
padding-right: 15px;
background-color: lime;
font-family: serif;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 10px;
}
